.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(http://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background: #fae4eb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#wrapper{
    background:#f2fcff;
}

.album-container {
    margin-top: 90px;
}

.sbzoff {
    z-index: 9998 !important;
}
.hotline b{
    color:#fff !important;
}
#wrapper .top{
    width:100%;
    height:35px;
    background:#191919;
}
#wrapper .content_inner img{
    max-width: 100%;
    height: auto;
}
input[type="text"], input[type="password"], input[type="email"], textarea, select{
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
    display: inline-block;
}
#wrapper .menu{
    height:50px;
    width: 100%;
    background: rgba(19, 95, 116, 1);

}
ul li{
    list-style: none;
}
.content{
    width:100%;
    overflow: hidden;
    margin: 0 auto;
}
.call-hot{
    display:none;
}
#wrapper .header{
    width:100%;
    z-index:99999;
    position:fixed;
    margin:0 auto;
    top: 0px;
}
#wrapper .header .top .content .logo{
    width:120px;
    height:150px;
    position:absolute;
    float: left;
    z-index: 9999999;
    left: 8%;
}
#wrapper .header .top .content .logo img{
    box-shadow:4px #d1d1d1;
    width:120px;
}
#wrapper .header .menu .content ul{
    float: left;
    width: auto;
}
#wrapper .header .menu .content .menu-primary-container ul:first-child {
    margin-left: 225px;
}
#wrapper .header .menu .content ul li{
    float: left;
    list-style: none;
    border-right:1px dashed #fff;
    height:30px;
    margin-top:10px;
}
#wrapper .header .menu .content ul li:last-child{
    border-right:none;
}
#wrapper .header .menu .content ul li:hover{
    background:#f2fcff;

}
#wrapper .header .menu .content ul li:hover a{

    color:rgba(19, 95, 116, 1);
}
#wrapper  .header .menu .content ul li a{
    text-decoration: none;
    font-size:13px;
    text-transform: uppercase;
    font-weight: bold;
    color:#fffdfe;
    line-height:35px;
    padding: 0px 15px;
}
#wrapper .header .menu .content ul li ul.sub-menu{
    display:none;
    margin-top:-5px;
}
#wrapper .header .menu .content ul li:hover ul.sub-menu{
    display:block;
    position: absolute;
    width:auto;
    background: #f2fcff;
    z-index:9999;
}
#wrapper .header .menu .content ul li ul.sub-menu li{
    float:none;
    border-bottom:1px dashed rgba(19, 95, 116, 1);
    width:auto;
    margin-left:15px;
    border-right:none;
    margin-right: 20px;
    min-width: 200px;
}
#wrapper .header .menu .content ul li ul.sub-menu li:last-child{
    border-bottom:none;
}
#wrapper .header .menu .content ul li ul.sub-menu li a{
    color:rgba(19, 95, 116, 1);
    line-height:30px;
    padding: 0px 0px;
    text-transform: none;
    font-size:14px;
    font-weight:normal;
}
#wrapper .header .menu .content ul li ul.sub-menu li a:hover{
    text-decoration:underline;
}
#wrapper .slideshow{
    width:100%;

    overflow:hidden;
    padding-top:65px;

}
#wrapper .content-incl{

    margin:0 auto;

}
#wrapper .content-incl .thongbao{
    width: 250px;
    background: #fae4eb;
    opacity: 0.7;
    /* height: 540px; */
    /* margin-top: -600px; */
    position: absolute;
    z-index: 9999;
    border-radius: 10px;
    float: right;
    left: 8%;
    top: 140px;
}
#wrapper .content-incl .thongbao .content-tb{
    width:230px;
    margin:10px;
    overflow:hidden;
}
.content-1 {
    width: 100%;
}
#wrapper .content .content-1 .title{
    margin-top: 20px;
    overflow: hidden;
    text-align: center;
    width: auto;
}
#wrapper .content .content-1 .title h2 a {
    text-decoration: none;
    color: #188a8f;
}
#wrapper .content .content-1 .title h2 p.title-h2{
    font-family: "Avant-Garde";
    font-size: 40px;
    font-weight: normal;
    line-height: 35px;
    color: #188a8f;
}
#wrapper .content .content-1 .title h2{
    font-size: 25px;
    color:#575757;
    border-bottom: url('images/icon-line.png') no-repeat;
}
#wrapper .content .content-1 .title span.line-icon{
    background: rgba(0, 0, 0, 0) url("images/icon-line.png") no-repeat scroll 0 0;
    display: block;
    font-family: myfont;
    height: 30px;
    margin: auto;
    width: 567px;
}
#wrapper .content .content-1 ul.list-cate{
    width:1300px;
    overflow: hidden;
}
#wrapper .content .content-1 ul.list-cate li{
    float:left;
    list-style: none;
    width:200px;
    margin-right:100px;
    text-align: center;
}
#wrapper .content .content-1 ul.list-cate li img{
    border-radius:100px;
    margin-bottom: 20px;
}
#wrapper .content .content-1 ul.list-cate a{
    padding: 10px 20px 10px;
    text-decoration: none;
    background:white;
    margin-top: 10px;
    border-radius:10px;
}
.ch-grid {
    display: block;
    list-style: outside none none;
    margin: auto;
    overflow: hidden;
    padding: 20px 0 30px;
    text-align: center;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}
.description h3{
    font-size:13px;
    color:#444;
    font-style:italic;
    text-align:justify;
    line-height:20px;
}
.ch-grid li {
    width: 220px;
    overflow:hidden;
    display: inline-block;
    margin-right: 73px;
    float:left;
}
.ch-grid li:last-child {
    margin-right: 0;
}
.ch-grid li .title_cate{
    background:white;
    width:220px;
    height:50px;
    margin-top:10px;
    border-radius:10px;
    box-shadow: 0 0 5px #ccc;
}
.ch-grid li .title_cate h2 a{
    color:#000;
    line-height:50px;
    font-size:15px;
    text-decoration:none;
    font-family:UTMPierre;
    text-transform: uppercase;
}
.ch-item {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: relative;
    cursor: default;
    transition: all 0.4s ease-in-out;
    display:block;

}
.ch-item.ch-img-1 {
    background-position: center center;
    background-size: 220px 220px;
}
.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    backface-visibility: hidden;
}
.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 0 30px;
    padding: 65px 0 0 0;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow:
            0 0 1px #fff,
            0 1px 2px rgba(0,0,0,0.3);
    line-height:25px;
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: auto;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    width: 65%;
}

.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
}
.ch-item:hover {
    box-shadow:
            inset 0 0 0 110px rgba(200,95,66, 0.4),
            inset 0 0 0 16px rgba(255,255,255,0.8),
            0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);
}

.content .grid_5 {
    float: left;
    height: 250px;
    margin-top: 10px;
    margin-left: 20px;
    width: 31%;
}
.content .cat-title {
    text-align: left;
    margin-left: 20px;
}
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;

}
.view .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
    max-height: 100%;
}
.view p.info {
    display: block;
    width:90%;
    height:100%;
    color:#fff;
    text-align:left;
    padding:10px;
}

.mask {
    opacity: 0.3;
    overflow:visible;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.info {
    position:relative;
    opacity: 0;
    -webkit-transition: opacity 0.5s 0s ease-in-out;
    -moz-transition: opacity 0.5s 0s ease-in-out;
    -o-transition: opacity 0.5s 0s ease-in-out;
    -ms-transition: opacity 0.5s 0s ease-in-out;
    transition: opacity 0.5s 0s ease-in-out;
}
.view:hover .mask {
    opacity: 1;
    background:rgba(255,255,255,0.8) url(images/logohover.png) no-repeat center center;
    background-size: 150px 150px;
    -webkit-background-size: 150px 150px;
    -moz-background-size: 150px 150px;
    -o-background-size: 150px 150px;
}
.view:hover .mask.mask-left {
    opacity: 1;
    background:rgba(255,255,255,0.8);
}
.view:hover .info {
    opacity:1;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
}
.mask a.info-list {
    color: #514540;
    display: block;
    font-size: 23px;
    height: 250px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

.cate_mobi{
    display: none;

    float: right;
}
.menu_mobi{
    display:none;
}
footer {
    display: block;
    padding: 33px 0 15px;
    border-top: 5px solid #e8a825;
    background: rgba(19, 95, 116, 1);
}
.container-footer {
    margin: auto;
    width: 85%;
    height: 450px;
}

.grid_4 {
    float: left;
    width: 31%;
    height: 255px;
    margin-bottom: 10px;
    margin-left: 40px;
}
div.clear {
    clear: both;
}
.grid_4:first-child {
    margin-left: 0;
}
h4.footer-title {
    font-family: "Times New Roman";
    font-size: 18px;
    margin-bottom: 19px;
    color: white;
}
h4 {
    color: #564540;
}
.sn-link {
    margin-top: 50px;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.conect {
    margin-top: 20px;
}
ul.conect li {
    float: left;
    margin-left: 10px;
}
.sn-link li {
    margin-bottom: 10px;
}
.sn-link li a {
    color: #514540;
    font-family: "Times New Roman";
    font-size: 18px;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
a, a:hover, a:focus {
    outline: medium none;
}
.contact li {
    color: white;
    font-family: "Times New Roman";
    font-size: 16px;
    line-height: 1.5;
}
/* Css Mobile */
@media (max-width: 768px){
    .call-hot{
        display:block;
        width:150px;
        height:40px;
        background:#135f74;
        position:fixed;
        bottom:40px;
        border-radius: 20px;
    }
    .call-hot img{
        float:left;
        width:40px;
        margin-right:10px;
        border-radius:20px;
        background-color:#E75214;
    }
    .call-hot a{
        text-decoration:none;
        font-size:14px;
        color:white;
        line-height:40px;
        width:100px;
        float:left;
        font-weight:bold;
    }
    .call-hot a:hover{
        text-decoration:none;
    }
    .menu_mobi{
        width: 100%;
        background: #f6f6f6;
        height:auto;
        margin-top: 50px;
        position:absolute;
    }
    .row1{
        width:98%;
        margin-left:1%;
        height:auto;
        border:1px solid #d1d1d1;
        margin-bottom:10px;
        margin-top:15px;
    }
    .row1 .responsive_image{
        width:100%;
    }
    .row2{
        width:98%;
        margin-left:1%;
        background:#fff;
        height:35px;
        border:1px solid #d1d1d1;
    }
    .row2 a{
        width:33%;
        line-height:35px;
        border-right:1px solid #d1d1d1;
        display:block;
        height:35px;
        float:left;
        text-align:center;
        font-weight:bold;
        color:#9f989a;
        font-size:12px;
    }
    .row2 a:hover{
        color:#e75280;
        text-decoration:none;
    }
    .row2 a:last-child{
        border-right:none;
    }
    .row3{
        width:98%;
        margin-left:1%;
        background:#fff;
        margin-top:5px;
        overflow:hidden;
        margin-bottom:5px;
        padding-bottom:10px;
    }

    .row3 .leftmenu{
        float:left;
        width:44%;
        margin-left:5%;
    }
    .row3 .leftmenu a{
        width:100%;
        font-size:10px;
        margin-top:10px;
        font-weight:bold;
        height:35px;
        line-height:23px;
        background:#f2f2f2;
        color:#aba5a6;
    }
    .row3 a.baogia{
        margin-left:5%;
        width:90%;
        height:35px;
        background:#e75280;
        display:block;
        line-height: 35px;
        margin-top: 100px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
    }
    .row3 .rightmenu{
        float:left;
        width:44%;
        margin-right:5%;
        margin-left:2%;
    }
    .row3 .rightmenu a{
        width:100%;
        font-size:10px;
        margin-top:10px;
        font-weight:bold;
        height:35px;
        line-height:23px;
        background:#f2f2f2;
        color:#aba5a6;
    }
    .close_menu{
        position:absolute;
        right:0px;
    }
    .menu_mobi ul{
        width:90%;
        margin-left:10%;
    }
    .menu_mobi ul li{
        list-style:none;

    }
    .menu_mobi ul li a{
        text-decoration:none;
        color:white;
        line-height:25px;
    }
    .menu_mobi ul li a:hover{
        text-decoration:underline;
    }
    .content{
        width:100%;
        overflow: hidden;
        margin: 0 auto;
    }
    #wrapper .content .content-1 .title{
        width:100%;

        text-align: center;
        margin-top:20px;
    }
    .cate_mobi{
        display: block;
        float: right;
    }
    .hotline{
        display: none;
    }
    #wrapper .header .top .content .logo img{
        width:90px;
        margin-top:10px;
    }
    #wrapper .slideshow{
        padding-top: 72px;
        background:none;
    }
    #wrapper .content-incl .thongbao{
        margin-top:10px;
        float:none;
        position: inherit;
    }
    #wrapper .menu .content{
        display: none;
    }
    .ch-grid {

        list-style: none;
        display: block;
        text-align: center;
        width: 100%;
    }
    .ch-grid li {
        width: 100%;
        margin-top:20px;

    }

    .ch-grid li .title_cate{
        margin:0 auto;
    }
    #wrapper .content .content-1 .title span.line-icon{
        background:url('images/icon-line.png') no-repeat center center;
        height: 30px;
        width: auto;
        display: block;
    }
    .ch-info {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 40%;
        overflow: hidden;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        transform: scale(0);
        backface-visibility: hidden;
        margin:0 auto;
    }
    .ch-item{
        margin:0 auto;
    }
    #wrapper .content .content-1 .title span{
        margin-bottom:-10px;
    }
    footer .container-footer .grid_4 {
        width: 100%;
        clear: both;
        height: -moz-max-content;
        height: -webkit-max-content;
        height: -o-max-content;
        max-height: 450px;
        margin-bottom: 20px;
        margin-left: 0;
    }

    footer .container-footer{
        height: 1350px;
    }
    #wrapper .content-incl{
        width:90%;
        margin-left:5%;
    }
    #wrapper .content-incl .thongbao{
        width:100%;
    }
    #wrapper .content-incl .thongbao .content-tb{
        width:100%;
    }

    .content .grid_5 {
        float: left;
        max-height: 250px;
        margin-left: 5%;
        width: 90%;
    }
    .gallery {
    }
    .gallery_area_inner{
        float: none;
    }
    .masonry-container .item {
        width: 100%;
        clear: both;
        margin: auto;
    }
}
footer .container-footer ul li a{
    color:#fff;
}